<a href="https://colab.research.google.com/github/mmminq/newgit/blob/main/%EB%B0%B1%EC%A4%80_%EC%BB%A4%EB%A6%AC%ED%81%98%EB%9F%BC_%EC%9E%85%EC%B6%9C%EB%A0%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1000

a, b = map(int, input().split())

print(a+b)

In [ ]:
#1924 2007년
"""
해당 날짜까지 일수를 모두 더한다음 %의 나머지로 요일을 구함
"""
month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
yoil = ['SUN', 'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT']
day = 0

m, d = map(int, input().split())
for i in range(m-1):
  day+=month[i]
day+=d

print(yoil[day%7])

1 7
SUN

In [ ]:
#2438 별 찍기 - 1

n = int(input())

for i in range(n):
  print('*'*(i+1))

5
*
**
***
****
*****

In [ ]:
#2439 별 찍기 - 2

n = int(input())

for i in range(n):
  print(('*'*(i+1)).rjust(n))

5
    *
   **
  ***
 ****
*****

출력 시 왼쪽 정렬, 오른쪽 정렬

print(a.ljust(n)) -> a라는 숫자(또는 문자열)을 왼쪽 정렬, 최대 자릿수 n자리

print(a.rjust(n)) -> a라는 숫자(또는 문자열)을 오른쪽 정렬, 최대 자릿수 n자리

print(a.center(n)) -> 중앙 정렬

In [ ]:
#2440 별 찍기 - 3

n = int(input())

for i in range(n, 0, -1):
  print('*'*i)

5
*****
****
***
**
*

In [ ]:
#2441 별 찍기 - 4

n = int(input())

for i in range(n, 0, -1):
  print(('*'*i).rjust(n))

In [ ]:
#2442

n = int(input())

for i in range(1, n+1):
  print(" "*(n-i) + "*" * (2*i-1))

5
    *
   ***
  *****
 *******
*********

In [ ]:
#2445 별 찍기 - 8

n = int(input())

for i in range(1, n+1):
  print(('*'*i).ljust(n), end = '')
  print(('*'*i).rjust(n))
for i in range(n-1, 0, -1):
  print(('*'*i).ljust(n), end = '')
  print(('*'*i).rjust(n))

5
*        *
**      **
***    ***
****  ****
**********
****  ****
***    ***
**      **
*        *

In [ ]:
#2446 별 찍기 - 9

n = int(input())

for i in range(n, 0, -1):
  print(" "*(n-i) + "*" * (2*i-1))
for i in range(2, n+1):
  print(" "*(n-i) + "*" * (2*i-1))

5
*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********

In [ ]:
#2522 별 찍기 - 12

n = int(input())

for i in range(1, n+1):
  print(('*'*i).rjust(n))
for i in range(n-1, 0, -1):
  print(('*'*i).rjust(n))

5
    *
   **
  ***
 ****
*****
 ****
  ***
   **
    *

In [ ]:
#10951 A+B - 4, 블로그 참고

while True:
  try:
    a, b = map(int, input().split())
    print(a+b)
  except:
    break

1 1
2
3 3
6

종료 조건이 정해지지 않았을 때, 입력이 안될 경우 종료시킴

->try, except문 [EOFError]를 방지하기 위해 추가

기타 에러가 발생할 경우 except문을 통해 프로그램을 강제 종료시킴

In [ ]:
#10991 별 찍기 - 16

n = int(input())

for i in range(1, n+1):
  print(' '*(n-i), end='')#좌측 공백
  print('* '*(i-1)+'*')#i-1개만 공백 포함해서 출력하고 마지막 별은 우측 공백 없이 출력

5
    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
#10992

n = int(input())
for i in range(1, n):
  print(' '*(n-i), end='')
  if i == 1: print('*')
  else: print('*'+' '*(2*(i-1)-1)+'*')
print('*'*(2*n-1))

5
    *
   * *
  *   *
 *     *
*********

In [ ]:
#11021 A+B - 7

n = int(input())

for i in range(1, n+1):
  a, b = map(int, input().split())
  print('Case #{}:'.format(i), a+b)

1
1 2
Case #1: 3

In [ ]:
#11022 A+B - 8

n = int(input())

for i in range(1, n+1):
  a, b = map(int, input().split())
  print('Case #{}: {} + {} = {}'.format(i, a, b, a+b))

1
1 2
Case #1: 1 + 2 = 3

In [ ]:
#11718

import sys

while True:
  try:
    s = input()
    print(s)
  except:
    break

In [ ]:
#11720
n = input()
s = list(map(int, input()))
sum = 0
for i in s:
  sum+=i
print(sum)

12345
[1, 2, 3, 4, 5]

In [ ]:
#11721

w = input()
for i in range(len(w)):
  print(w[i], end='')
  if i%10 == 9: print()

backjoononlinejuddge
backjoonon
linejuddge